$listColor: cornflowerblue;

.list-group-item-alice {
    background-color: transparentize($listColor, 0.95);
    border-color: transparentize($listColor, 0.96);
    color: $listColor;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: transparentize($listColor, 0.9);
    }
}