@import '../../../../assets/scss/helpers/_variables.scss';

.fix-margin{
    margin-top: -0.3rem;
}

.icon {
    width: 1rem;
    height: 1rem;
    fill: transparentize($naranjaPrimario, 0.3);
    display: inline-block;
}