<app-screen-loader *ngIf="showScreenLoader"></app-screen-loader>
<div class="titleContainer p-5 pattern insetShadow mb-4">
  <h2>Gesti&oacute;n de ejercicios</h2>
</div>
<div class="container">
  <app-listado-tipos-ejercicio 
    [tiposEjercicio]="tiposEjercicio"
    (onGuardar)="handleGuardarTipoEjercicio($event)"
    (onDelete)="handleDeleteTipoEjercicio($event)">
  </app-listado-tipos-ejercicio>
  <hr/>
  <app-listado-ejercicios 
    [tiposEjercicio]="tiposEjercicio" 
    [ejercicios]="ejercicios"
    (onGuardar)="handleGuardarEjercicio($event)"
    (onDelete)="handleDeleteEjercicio($event)">
  </app-listado-ejercicios>
</div>