<ul class="list-group mw-md-15rem">
  <li class="list-group-item list-group-item-action pointer" (click)="onEditarDatos.emit(true)">
    <svg class="action-icon">
      <use xlink:href="../../../../assets/images/icons.svg#edit-pencil-icon"></use>
    </svg>
    Editar datos
  </li>
  <li class="list-group-item list-group-item-action pointer" (click)="onCambiarContrasena.emit(true)">
    <svg class="action-icon">
      <use xlink:href="../../../../assets/images/icons.svg#password-icon"></use>
    </svg>
    Cambiar contrase&ntilde;a
  </li>
</ul>