@import '../../../assets/scss/helpers/_variables.scss';

li.nav-item {
    cursor: pointer;
}

a.nav-link {
    color: $naranjaPrimario;
    &:hover {
        color: $naranjaPrimario;
    }
    &.active {
        color: #212529;
    }
}