@import '../../../../assets/scss/helpers/_variables.scss';

.serie-container {
    background: transparentize($naranjaPrimario, 0.95);
}

.info-serie-title {
    color: white;
    background: #8fb6d8;
}

.info-serie-container {
    background: white;
    min-height: 2.625rem;
}