<div class="login-bg">
  <div class="login">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="login(loginForm.value)">
      <div class="login-header col-12 py-3">
        Iniciar Sesi&oacute;n
      </div>
      <div class="login-body px-4 pt-4 pb-5">
        <div class="row">
          <div class="col-12">
              <label>Usuario</label>
              <input class="form-control" formControlName="usuario" />
              <div class="invalidControl login-error" *ngIf="loginForm.get('usuario').invalid && loginForm.get('usuario').dirty">
                Debe de ingresar un usuario.
              </div>
          </div>
          <div class="col-12 mt-2">
            <label>Contrase&ntilde;a</label>
            <input type="password" class="form-control" formControlName="contrasena">
            <div class="invalidControl login-error" *ngIf="loginForm.get('contrasena').invalid && loginForm.get('contrasena').dirty">
                Debe de ingresar una contrase&ntilde;a.
              </div>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <button class="login-button w-100 mt-4 p-2 pointer position-relative" [ngClass]="{'loggin-in': isLoggin}">
              <p class="mb-0 login-text">INGRESAR</p>
              <img class="rolling" src="./../../assets/images/Rolling.svg"/>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>