<div class="mb-4">
    <ul class="list-group mb-4">
        <li class="list-group-item list-group-item-alice">
          <div class="d-flex justify-content-between align-items-center">
            <p class="mb-0">Mi&eacute;rcoles 18:00 hs</p>
            <app-remove-button (click)="deleteDia(i)"></app-remove-button>
          </div>
        </li>
      </ul>
    <button class="btn btn-outline-pgreen" (click)="$event.preventDefault(); a.modal.show()">Agregar Clase</button>
</div>
<app-seleccionar-clase #a></app-seleccionar-clase>