<div class="titleContainer p-5 pattern insetShadow mb-4">
    <h2>Listado de Clases</h2>
</div>
<div class="container">
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link active" href="#">Musculaci&oacute;n</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pilates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Boxeo</a>
        </li>
    </ul>
    <div class="mb-4">
        <i class="datatable-icon-left"></i><span>Semana del </span><i class="datatable-icon-right"></i>
    </div>
    <app-search-input></app-search-input>
    <app-scheduler #sched>
        <app-scheduler-hours [rows]="horas"></app-scheduler-hours>
        <app-scheduler-column *ngFor="let dia of dias" [date]="dia.fecha" [smallScreen]="sched.smallScreen">
            <app-scheduler-cell *ngFor="let horaClase of horas; let i = index" [enabled]="situacionClase(dia,horaClase) !== 'disabled'">
                <span *ngIf="getClase(dia,horaClase); let clase">
                    <span class="d-md-none">{{horaClase}} - </span>
                    {{calcularLugaresDisponibles(clase)}} lugares disponibles
                </span>
            </app-scheduler-cell>
        </app-scheduler-column>
    </app-scheduler>
</div>