@import '~@swimlane/ngx-datatable/release/index.css';
@import '../../scss/helpers/_variables.scss';

.datatable-header {
    background-color: $verdePrimario;
    border-bottom: 2px solid #e9ecef;
    border-top: 1px solid #e9ecef;
}

.datatable-header-cell {
    color: white;
    font-weight: bold;
    padding: 10px;
}

.datatable-body-row {
    border-bottom: 1px solid #e9ecef;
    background-color: white;
    transition: background-color 0.2s ease-in-out;
    &:hover {
        background-color: #f9f9f9;
    }
}

.datatable-body-cell {
    color: gray;
   padding: 10px;
}

.resize-handle {
    border-left: solid 1px lighten($verdePrimario, 10%);
}