.navbar-personalizado {
  padding-bottom: 0px;
  padding-top: 3px;
  box-shadow: 0px 0px 2px #888888;
}

.collapse-animation {
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  overflow: hidden;
  display: block;
  visibility: hidden;
  max-height: 36px;
  &.show {
    visibility: visible;
    max-height: 900px;
    transition: max-height 0.5s ease-in-out;
  }
}

@media (min-width: 992px) { 
  .collapse-animation {
    transition: none;
    visibility: visible;
    overflow: visible;
    max-height: 46px;
  }
}