<app-screen-loader *ngIf="showScreenLoader"></app-screen-loader>
<div class="titleContainer p-5 pattern insetShadow mb-4">
  <h2>Listado de alumnos</h2>
</div>
<div class="container">
  <button [permisos]="['CREAR_USUARIO']" routerLink="agregar" type="button" class="btn btn-outline-porange mb-4">Agregar Alumno</button>
  <app-content-loader *ngIf="showLoader"></app-content-loader>
  <div *ngIf="alumnos.length !== 0">
    <div class="d-flex">
      <app-search-input (inputDebounced)="filterData($event)" class="f-grow1"></app-search-input>
      <app-filter-button class="ml-2" (click)="toggleFilters()"></app-filter-button>
    </div>
    <app-filter-alumnos 
      [filterMode]="filtroActivo" 
      (onFilterChange)="handleFilterChange($event)"
      *ngIf="showFilters">
    </app-filter-alumnos>
    <ngx-datatable [rows]="rows" [columns]="columns" headerHeight="50" rowHeight="50" scrollbarH="true" columnMode="force" [limit]="10"
      footerHeight="75" [rowHeight]="'auto'">
    </ngx-datatable>
  </div>
  <div *ngIf="alumnos.length === 0 && !showLoader" class="alert alert-warning">
    No se encontraron alumnos.
  </div>
</div>

<ng-template #editTmpl let-row="row" let-value="value">
  <app-routine-button 
    [permisos]="['VER_RUTINA']"
    [routerLink]="[row.id, 'rutina']">
  </app-routine-button>
  <app-profile-button [routerLink]="[row.id, 'perfil']" [permisos]="['VER_PERFIL']"></app-profile-button>
  <svg class="table-action-icons" [routerLink]="[row.usuarioId, 'cambiarContrasena']">
    <use xlink:href="../../../assets/images/icons.svg#password-icon"></use>
  </svg>
  <app-edit-button [routerLink]="[row.usuarioId, 'editar']" [permisos]="['MODIFICAR_USUARIO']"></app-edit-button>
  <app-delete-button (click)="borrarAlumno(row)" [permisos]="['ELIMINAR_USUARIO']"></app-delete-button>
</ng-template>
<ng-template #debeTmpl let-row="row" let-value="value">
  <p class="m-0" *ngFor="let deuda of row.deudas">
    <span class="font-weight-normal">{{deuda.mes | spanishMonth}} {{deuda.anio}}:</span> {{deuda.debe | currency}}
  </p>
</ng-template>
<ng-template #debeAccionesTmpl let-row="row" let-value="value">
  <app-payment-button 
    [permisos]="['CREAR_CUOTA']" 
    [routerLink]="'../pagos/registrar'" 
    [queryParams]="{alumno: row.id, mes: row.deudas[0].mes, anio: row.deudas[0].anio}">
  </app-payment-button> 
</ng-template>
<ng-template #indexTmpl let-index="rowIndex">
  {{index + 1}}
</ng-template>