<app-screen-loader *ngIf="showLoader"></app-screen-loader>
<div class="titleContainer p-5 pattern insetShadow mb-4">
  <h2>Listado de Actividades</h2>
</div>
<div class="container">
  <button routerLink="/actividades/agregar" type="button" class="btn btn-outline-porange mb-4">Agregar Actividad</button>
  <ngx-datatable [rows]="rows" [columns]="columns" headerHeight="50" rowHeight="50" scrollbarH="true" columnMode="force" limit="10"
    footerHeight="75">
  </ngx-datatable>
  <ng-template #hdrTpl let-column="column">
    {{column.name}}
  </ng-template>
  <ng-template #editTmpl let-row="row" let-value="value">
    <app-edit-button [routerLink]="['/actividades/editar', row.id]"></app-edit-button>
    <app-delete-button (click)="borrarAlumno(row.id)"></app-delete-button>
  </ng-template>
</div>