<h4 class="font-weight-light mb-4">Ejercicios</h4>
<button type="button" class="btn btn-outline-porange mb-4" (click)="handleAgregarEjercicio()">Agregar ejercicio</button>
<app-search-input (inputDebounced)="filterData($event)"></app-search-input>
<ngx-datatable [rows]="rows" [columns]="columns" headerHeight="50" scrollbarH="true" columnMode="force" [limit]="10" footerHeight="75"
  [rowHeight]="'auto'">
</ngx-datatable>
<app-agregar-ejercicio 
  [tiposEjercicios]="tiposEjercicio" 
  [ejercicio]="ejercicioSelected"
  (onGuardar)="onGuardar.emit($event)">
</app-agregar-ejercicio>

<ng-template #editTmpl let-row="row" let-value="value">
  <app-edit-button (click)="handleEditEjercicio(row)"></app-edit-button>
  <app-delete-button (click)="onDelete.emit(row.id)"></app-delete-button>
</ng-template>
<ng-template #indexTmpl let-index="rowIndex">
  {{index + 1}}
</ng-template>