<app-modal #modal [noHeader]="true" (onVisibilityChange)="handleVisibilityChange($event)">
  <div class="app-modal-body">
    <app-content-loader *ngIf="showLoader"></app-content-loader>
    <div *ngIf="!showLoader && actividades.length">
      <app-tab-nav [items]="actividades" [active]="actividadSeleccionada.id" (onItemClick)="handleChangeActividad($event)" class="mb-4"></app-tab-nav>
      <div class="d-flex flex-column flex-sm-row">
        <div class="d-flex flex-column w-100 text-center" *ngFor="let dia of actividadSeleccionada.diasClases">
          <div class="clasepicker-header">{{dia.diaSemana}}</div>
          <div class="clasepicker-content" *ngFor="let clase of dia.clases" [ngClass]="{
          disponible: clase.estadoClaseFija === 'disponible',
          noDisponible: clase.estadoClaseFija === 'no-disponible',
          semiDisponible: clase.estadoClaseFija === 'semi-disponible',
          selected: clase.id === claseSeleccionada?.id
        }" (click)="handleChangeClase(clase, dia)">
            {{clase.horaInicio | slice:0:5}}
          </div>
        </div>
      </div>
      <div class="mt-2">
        <p class="mb-0">Seleccionada:
          <span class="font-weight-normal" *ngIf="claseSeleccionada">
            {{claseSeleccionada.dia.actividad.nombre}} - {{claseSeleccionada.dia.diaSemana}} {{claseSeleccionada.horaInicio|slice:0:5}}
          </span>
        </p>
      </div>
    </div>
    <div *ngIf="!showLoader && !actividades.length">
      <div class="alert alert-warning">No se han encontrado clases</div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-outline-porange mr-2" (click)="handleAgregar()" [disabled]="!actividades.length">
      Aceptar
    </button>
    <button type="button" class="btn btn-outline-porange" (click)="modal.hide()">Cancelar</button>
  </div>
</app-modal>