<div class="titleContainer pattern insetShadow mb-4">
    <h2>Agregar Alumno</h2>
</div>
<div class="container">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()" novalidate>
        <fieldset class="form-group px-4">
            <legend class="px-3 ml-1">Datos Personales</legend>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Correo electrónico <span class="required">*</span></label>
                            <input type="email" class="form-control" formControlName="email"/>
                            <div class="invalidControl" *ngIf="errors.email.length !== 0 && form.get('email').dirty">
                                {{ errors.email.join('. ') }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Nombre <span class="required">*</span></label>
                            <input class="form-control" formControlName="nombre"/>
                            <div class="invalidControl" *ngIf="errors.nombre.length !== 0 && form.get('nombre').dirty">
                                {{ errors.nombre }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                        <label>Apellido <span class="required">*</span></label>
                        <input class="form-control" formControlName="apellido"/>
                        <div class="invalidControl" *ngIf="errors.apellido.length !== 0 && form.get('apellido').dirty">
                            {{ errors.apellido }}
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Domicilio <span class="required">*</span></label>
                            <input class="form-control" formControlName="domicilio"/>
                            <div class="invalidControl" *ngIf="errors.domicilio.length !== 0 && form.get('domicilio').dirty">
                                {{ errors.domicilio }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <div class="d-flex">
                                <label>Antecedentes deportivos</label>
                                <input class="mt-2 ml-2" type="checkbox" formControlName="tieneAntecDeportivos">
                            </div>
                            <input class="form-control" formControlName="observacionesAntecDeportivos"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-sm-4">
                        <div class="form-group">
                            <label>Número de teléfono <span class="required">*</span></label>
                            <input type="number" class="form-control" formControlName="telefono"/>
                            <div class="invalidControl" *ngIf="errors.telefono.length !== 0 && form.get('telefono').dirty">
                                {{ errors.telefono.join('. ') }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                            <div class="form-group">
                                <div class="d-flex">
                                    <label>Antecedentes m&eacute;dicos</label>
                                    <input class="mt-2 ml-2" type="checkbox" formControlName="tieneAntecMedicos">
                                </div>
                                <input class="form-control" formControlName="observacionesAntecMedicos"/>
                            </div>
                        </div>
                </div>
                <!-- <div class="row">
                     <div class="col-sm-12">
                        <div class="form-group">
                            <label>Imagen de Perfil</label>
                            <input type="file" class="form-control">
                        </div>
                    </div>
                </div> -->
                <hr/>
                <p>Clases</p>
                <app-agregar-clases></app-agregar-clases>
            </fieldset>
            <div class="d-flex justify-content-end mb-4">
                <button type="submit" class="btn btn-outline-porange" name="enviar">Guardar</button>
            </div>
    </form>
</div>