<app-screen-loader *ngIf="showScreenLoader"></app-screen-loader>
<div class="titleContainer p-5 pattern insetShadow mb-4">
  <h2>Listado de Pagos</h2>
</div>
<div class="container">
  <app-filtro-pagos-cuota-mes (onSearch)="handleSearchCuotaMes($event)"></app-filtro-pagos-cuota-mes>
  <app-filtro-pagos-alumno-fecha (onSearch)="handleSearchAlumnoFecha($event)"></app-filtro-pagos-alumno-fecha>
  <app-content-loader *ngIf="showLoader"></app-content-loader>
  <ngx-datatable [rows]="rows" [columns]="columns" headerHeight="50" rowHeight="50" scrollbarH="true" columnMode="force" [limit]="10"
    footerHeight="75" *ngIf="rows.length !== 0">
  </ngx-datatable>
  <div *ngIf="rows.length === 0 && !showLoader" class="alert alert-warning">
    No se encontraron pagos.
  </div>
</div>

<ng-template #indexTmpl let-index="rowIndex">
  {{index + 1}}
</ng-template>