.week-selector {
    color: gray;
}

.week-selector-input {
    display: inline-block;
    width: 5rem;
    border: none;
    text-align: center;
    padding: 0;
    color: gray;
    position: relative;
    top: -0.15rem;
    cursor: pointer;
}

.selector-text {
    position: relative;
    top: -0.175rem;
}

i {
    cursor: pointer;
}