@import '../../../assets/scss/helpers/variables';
@import '../../../assets/scss/helpers/functions';
@import '../../../assets/scss/helpers/mixins';

@for $i from 0 through ($cantidadMenu - 1) {
  $porcentaje: $i * (100% / ($cantidadMenu - 1));
  $colorItem: gradient-color-at($naranjaPrimario, $verdePrimario, $porcentaje);

    .menu-dropdown-item-#{$i + 1} {
    display: inline-block;
    color: gray;
    padding: 0px;
    padding-right: 10px;
    &:hover{
      background: initial;
      color: $colorItem;
    }
    &:before {
      content: '';
      display: inline-block;
      height: 20px;
      width: 0;
      background: transparent;
      margin-right: 10px;
      margin-bottom: -4px;
      transition: width .2s ease;
    }
    &:hover:before {
      width: 4px;
      background: $colorItem;
    }
  }

}