@import '../../../../assets/scss/helpers/_variables.scss';

.rutina-header {
    @media (min-width: 992px) {
        flex: 0 0 calc(83.333333% - 1rem);
    }
    background: $verdePrimario;
    color: white;
}

.datatable-icon-left {
    left: 0.5rem;
}

.datatable-icon-right {
    right: 0.5rem;
}

.carga-header {
    background: $verdePrimario;
    color: white;
    flex: 0 0 calc(16.66666667% + 0.5rem);
    max-width: calc(16.66666667% + 0.5rem);
    .datatable-icon-left, .datatable-icon-right {
        top: 15%;
    }
}

.date-changer-container {
    background: ghostwhite;
    .datatable-icon-left, .datatable-icon-right {
        top: 0;
    }
}