<div class="w-100 height-ratio-1-2 height-ratio-sm-1-2d5 position-relative">
  <div class="logo position-absolute"></div>
  <div class="slides cover-all">
    <div class="slide slide-1 slide-time-1 cover-all"></div>
    <div class="slide slide-2 slide-time-2 cover-all"></div>
    <div class="slide slide-3 slide-time-3 cover-all"></div>
    <div class="slide slide-4 slide-time-4 cover-all"></div>
    <div class="slide slide-5 slide-time-5 cover-all"></div>
    <div class="slide slide-6 slide-time-6 cover-all"></div>
  </div>
</div>
<app-listado-noticias></app-listado-noticias>