@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/sweetalert2/dist/sweetalert2.min.css';
@import './assets/scss/components/_table.scss';
@import './assets/scss/components/_buttons.scss';

body, html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titleContainer {
    width: 100%;
    background-color: white;
    padding: 50px;
    h2 {
        color: gray;
    }
}

.pattern {
    background: url('./assets/images/patronloco.png');
}

.insetShadow {
    box-shadow: inset 0 -2px 2px -2px #888888;
}

legend {
    width: auto;
    background: transparent;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.border-error {
    border-color: red;
}