@import '../../../../assets/scss/helpers/_variables.scss';

:host {
    display: block;
}

.content-cell {
    min-height: 3em;
    padding: 1em;
    color: gray;
    border-right: solid 1px cornsilk;
    border-bottom: solid 1px cornsilk;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    &:hover{
        background-color: cornsilk;
    }
    @media (max-width: 768px) {
        height: auto !important;
    }
}

.disabled {
    pointer-events: none;
    background-color: lightgray;
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
}

.suspended {
    background-color: lighten(coral, 20%);
    pointer-events: none;
}

.assist {
    background-color: lighten(lawngreen, 40%);
    &:hover {
        background-color: lighten(lawngreen, 40%);
    }
}

.marked {
    background-color: lighten(yellow, 30%);
    &:hover {
        background-color: lighten(yellow, 30%);
    }
}