<app-navbar>
  <app-navbar-item [itemId]="1" path="home">Home</app-navbar-item>
  <app-navbar-item-dropdown [nombre]="'Mi Perfil'" [itemId]="2">
    <app-item-dropdown path="/">Ver Perfil</app-item-dropdown>
    <app-item-dropdown path="/">Rutina</app-item-dropdown>
    <app-item-dropdown path="/">Editar Datos</app-item-dropdown>
    <app-item-dropdown path="/">Cambiar Contrasena</app-item-dropdown>
  </app-navbar-item-dropdown>
  <app-navbar-item-dropdown [nombre]="'Clases'" [itemId]="3">
    <app-item-dropdown path="clases">Listado</app-item-dropdown>
    <app-item-dropdown path="/">Suspender</app-item-dropdown>
  </app-navbar-item-dropdown>
  <app-navbar-item-dropdown [nombre]="'Alumnos'" [itemId]="4">
    <app-item-dropdown path="alumnos">Listado</app-item-dropdown>
    <app-item-dropdown path="alumnos/agregar">Alta</app-item-dropdown>
  </app-navbar-item-dropdown>
  <app-navbar-item-dropdown [nombre]="'Finanzas'" [itemId]="5">
    <app-item-dropdown path="/">Registrar Pago</app-item-dropdown>
    <app-item-dropdown path="/">Listar Pagos</app-item-dropdown>
    <app-item-dropdown path="/">Gestionar Movimientos de Dinero</app-item-dropdown>
    <app-item-dropdown path="/">Balance General</app-item-dropdown>
  </app-navbar-item-dropdown>
  <app-navbar-item-dropdown [nombre]="'Sistema'" [itemId]="6">
    <app-item-dropdown path="/">Actividades</app-item-dropdown>
    <app-item-dropdown path="/">Ejercicios</app-item-dropdown>
    <app-item-dropdown path="/">Roles</app-item-dropdown>
    <app-item-dropdown path="/">Inventario</app-item-dropdown>
    <app-item-dropdown path="/">Novedades</app-item-dropdown>
  </app-navbar-item-dropdown>
</app-navbar>