<app-navbar>
  <app-navbar-item [itemId]="1">Home</app-navbar-item>
  <app-navbar-item-dropdown [nombre]="'Mi Perfil'" [itemId]="2">
    <item-dropdown>Ver Perfil</item-dropdown>
    <item-dropdown>Rutina</item-dropdown>
    <item-dropdown>Editar Datos</item-dropdown>
    <item-dropdown>Cambiar Contrasena</item-dropdown>
  </app-navbar-item-dropdown>
  <app-navbar-item-dropdown [nombre]="'Clases'" [itemId]="3">
    <item-dropdown>Listado</item-dropdown>
    <item-dropdown>Suspender</item-dropdown>
  </app-navbar-item-dropdown>
  <app-navbar-item-dropdown [nombre]="'Alumnos'" [itemId]="4">
    <item-dropdown>Listado</item-dropdown>
    <item-dropdown>Alta</item-dropdown>
  </app-navbar-item-dropdown>
  <app-navbar-item-dropdown [nombre]="'Finanzas'" [itemId]="5">
    <item-dropdown>Registrar Pago</item-dropdown>
    <item-dropdown>Listar Pagos</item-dropdown>
    <item-dropdown>Gestionar Movimientos de Dinero</item-dropdown>
    <item-dropdown>Balance General</item-dropdown>
  </app-navbar-item-dropdown>
  <app-navbar-item-dropdown [nombre]="'Sistema'" [itemId]="6">
    <item-dropdown>Actividades</item-dropdown>
    <item-dropdown>Ejercicios</item-dropdown>
    <item-dropdown>Roles</item-dropdown>
    <item-dropdown>Inventario</item-dropdown>
    <item-dropdown>Novedades</item-dropdown>
  </app-navbar-item-dropdown>
</app-navbar>